root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
tab_width = 4
trim_trailing_whitespace = true

[*.sln]
indent_style = tab

[*.csproj]
indent_size = 2
ij_xml_space_inside_empty_tag = true

[*.DotSettings]
indent_style = tab
ij_xml_attribute_wrap = off

[*.yml]
indent_size = 2

# [*.cs]
# entitas_generator.component.cleanup_systems = false
# entitas_generator.component.component_index = false
# entitas_generator.component.context_extension = false
# entitas_generator.component.context_initialization_method = false
# entitas_generator.component.entity_extension = false
# entitas_generator.component.entity_index_extension = false
# entitas_generator.component.events = false
# entitas_generator.component.event_systems_extension = false
# entitas_generator.component.matcher = false
# 
# entitas_generator.context.component_index = false
# entitas_generator.context.context = false
# entitas_generator.context.entity = false
# entitas_generator.context.matcher = false
