# Windows
Thumbs.db

# Mac
.DS_Store

# Unity
Library
Temp
*.unitypackage
*-CSharp-vs.csproj
*-CSharp.csproj
*-CSharp-Editor.csproj
*-CSharp-Editor-vs.csproj

# Xamarin
obj
*.userprefs
test-results

# Custom
bin

Entitas.Unity/Entitas.Unity-csharp.sln
Entitas.Unity/Entitas.Unity.sln
Entitas.Unity.CodeGenerator/Entitas.Unity.CodeGenerator-csharp.sln
Entitas.Unity.CodeGenerator/Entitas.Unity.CodeGenerator.sln
Entitas.Unity.VisualDebugging/Entitas.Unity.VisualDebugging-csharp.sln
Entitas.Unity.VisualDebugging/Entitas.Unity.VisualDebugging.sln
Entitas.Unity.Migration/Entitas.Unity.Migration.sln
UnityTests/UnityTests.sln

Entitas.Unity/Assets/Libraries

Entitas.Unity.CodeGenerator/Assets/Libraries
Entitas.Unity.CodeGenerator/Assets/Libraries.meta

Entitas.Unity.VisualDebugging/Assets/Libraries
Entitas.Unity.VisualDebugging/Assets/Libraries.meta

Entitas.Unity.Migration/Assets/Libraries
Entitas.Unity.Migration/Assets/Libraries.meta

UnityTests/Assets/Libraries
UnityTests/Assets/Libraries.meta

