# OS
Thumbs.db
.DS_Store

# Solution
obj
bin
*.user

# IDEs
.vs
.vscode
.idea
**/Assets/Plugins/Editor/JetBrains
**/Assets/Plugins/Editor/JetBrains.meta

# Unity
Library
Temp
Logs
UserSettings
*.unitypackage

# Custom
CHANGES.md
*.userproperties
build
tests/Unity/**/*.sln
tests/Unity/**/*.csproj
tests/Unity/**/Jenny
tests/Unity/**/Assets/Entitas
tests/Unity/**/Assets/Entitas.meta
tests/Unity/**/Assets/Generated
tests/Unity/**/Assets/Generated.meta
